






          <!--   <div class="input-group martop15">
              <span class="input-group-addon form-span" id="sizing-addon1">Password</span>
              <input type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon">
            </div> -->
<!-- 
            <div class="input-group martop15">
              <input type="text" class="form-control" aria-describedby="sizing-addon">
              <label class="input-group-btn btn btn-success" style="font-size: 14px; width: auto;"">Search
                <input style="display: none" type="file">
              </label>
            </div> -->


     <!--    <div class="input-group martop15">
              <span class="input-group-addon form-span" id="sizing-addon1">Login   </span>
              <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon">
            </div>
 -->
        
<!--             <div class="input-group martop15">
              <span class="input-group-addon form-span" id="registration-addon1">Login   </span>
              <input type="text" class="form-control" aria-describedby="sizing-addon">
            </div>
 -->
<!--             <div class="input-group martop15">
              <span class="input-group-addon form-span" id="registration-addon2">Email   </span>
              <input type="text"  class="form-control" id="exampleTextarea" rows="3">
            </div>
 -->
    <!--         <div class="input-group martop15">
              <span class="input-group-addon form-span" id="registration-addon3">NickName   </span>
              <input type="text" class="form-control" aria-describedby="sizing-addon">
            </div>
 -->
     <!--        <div class="input-group martop15">
              <span class="input-group-addon form-span" id="registration-addon4">Password   </span>
              <input type="text"  class="form-control" id="exampleTextarea" rows="3">
            </div>
<!--
            <div class="input-group martop15">
              <span class="input-group-addon form-span" id="registration-addon3">Repeat Password   </span>
              <input type="text" class="form-control" aria-describedby="sizing-addon">
            </div>
 -->

<!-- 
                <div class="form-group row has-success col-md-12">
      <label for="inputHorizontalSuccess" class="col-md-2 col-form-label">Email</label>
      <div class="col-md-10">
        <input type="email" class="form-control form-control-success col-md-12" id="inputHorizontalSuccess" placeholder="name@example.com"><br/>
        <div class="form-control-feedback col-md-10">Success! You've done it.</div>
        <small class="form-text text-muted">Example help text that remains unchanged.</small>
      </div>
    </div> -->


<!--             <div class="form-group has-error">
              <label class="form-control-label" for="inputDanger1">Input with danger</label>
              <div class="">
              <input type="text" class="form-control form-control-error" id="inputDanger1">
      <span class="glyphicon glyphicon-remove form-control-feedback"></span>
              </div>
              <div class="form-control-feedback error">Sorry, that username's taken. Try another?</div>
              <small class="form-text text-muted">Example help text that remains unchanged.</small>
            </div> -->
<!-- 
                <div class="control-group warning">
      <label class="control-label" for="inputWarning">Input with warning</label>
      <div class="controls">
        <input type="text" id="inputWarning">
        <span class="help-inline">Something may have gone wrong</span>
      </div>
    </div>
    <div class="control-group error">
      <label class="control-label" for="inputError">Input with error</label>
      <div class="controls">
        <input type="text" id="inputError">
        <span class="help-inline">Please correct the error</span>
      </div>
    </div> -->


     <!--         <div class="input-group martop15 col-md-12 span-height">
              <span class="input-group-addon form-span span-height" id="setting-addon1">Login   </span>
              <div class="">
                <input type="email" class="form-control form-control-success" id="inputHorizontalSuccess" style="display: inline-block" placeholder="name@example.com">
                <div class="success-color ">Success! You've done it.</div>
                <small class="form-text text-muted">Example help text that remains unchanged.</small>
              </div>
            </div> -->