{% extends "base.html" %}
{% block content %}

<h1> Settings </h1>
        <section class="col-md-9">
          <form role="form padtop15">

            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Error!</strong> This niname is used already.
            </div>
            
            <!-- error in input <-->
            <div class="input-group martop15 has-error col-md-12 col-xs-12 pad0">
              <div class="col-md-12 col-xs-12 pad0">
                <span class="input-group-addon form-span span-pad col-md-1 col-xs-2" id="setting-addon1">Login   </span>
                <div class="pad0 col-md-10 col-xs-8">
                  <input type="text" class="form-control col-md-12 col-xs-12 inp-radius" aria-describedby="sizing-addon">
                  <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                </div>
              </div>
              <div class="form-control-feedback error">Sorry, that username's taken. Try another?</div>
              <small class="form-text text-muted">Example help text that remains unchanged.</small>
            </div>

            <div class="input-group martop15 col-md-12 col-xs-12 pad0">
              <div class="col-md-12 col-xs-12 pad0">
                <span class="input-group-addon form-span span-pad col-md-1 col-xs-2" id="setting-addon2">Email   </span>
                <div class="pad0 col-md-10 col-xs-8">
                  <input type="text"  class="form-control inp-radius" id="exampleTextarea" rows="3">
                </div>
              </div>
            </div>

            <div class="input-group martop15 col-md-12 col-xs-12  pad0">
              <div class="col-md-12 col-xs-12  pad0">
                <span class="input-group-addon form-span span-pad col-md-1 col-xs-2 " id="setting-addon3">NickName   </span>
                <div class="pad0 col-md-10 col-xs-8 ">
                  <input type="text" class="form-control inp-radius" aria-describedby="sizing-addon">
                </div>
              </div>
            </div>

            <div class="col-md-12 col-xs-12 pad0 martop15 upload-img-div">
              <img src="/img/noavatar.jpeg" class="upload-img">
            </div> 

            <div class="input-group col-md-12 col-xs-12 pad0">
              <span class="input-group-addon form-span span-pad col-md-1 col-xs-2" id="setting-addon4">Upload   </span>
                <div class="pad0">
                  <input type="text" class="form-control upload-input" aria-describedby="sizing-addon">
                  <label class="input-group-btn btn btn-success upload-btn" style="font-size: 14px; max-height: 34px;">Search
                    <input style="display: none" type="file">
                  </label>
                </div>
            </div>

            <div class="martop15">
              <button class="btn btn-success form-span col-md-1 " type="submit">Change </button>
            </div>
      
          </form>
        </section>
{% endblock %}