{% extends "base.html" %}
{% block content %}
	<h1> Registration </h1>
        <section class="col-md-9">
          <form role="form">

            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Error!</strong> This niname is used already.
            </div>

            <div class="input-group martop15 col-md-12 col-xs-12 pad0">
              <div class="col-md-12 col-xs-12 pad0">
                <span class="input-group-addon form-span span-pad col-md-1 col-xs-2" id="setting-addon2">Login   </span>
                <div class="pad0 col-md-9 col-xs-8">
                  <input type="text"  class="form-control inp-radius" id="exampleTextarea" rows="3">
                </div>
              </div>
            </div>

            <div class="input-group martop15 col-md-12 col-xs-12 pad0">
              <div class="col-md-12 col-xs-12 pad0">
                <span class="input-group-addon form-span span-pad col-md-1 col-xs-2" id="setting-addon2">Email   </span>
                <div class="pad0 col-md-9 col-xs-8">
                  <input type="text"  class="form-control inp-radius" id="exampleTextarea" rows="3">
                </div>
              </div>
            </div>

            <div class="input-group martop15 col-md-12 col-xs-12 pad0">
              <div class="col-md-12 col-xs-12 pad0">
                <span class="input-group-addon form-span span-pad col-md-1 col-xs-2" id="setting-addon2">NickName   </span>
                <div class="pad0 col-md-9 col-xs-8">
                  <input type="text"  class="form-control inp-radius" id="exampleTextarea" rows="3">
                </div>
              </div>
            </div>

            <div class="input-group martop15 col-md-12 col-xs-12 pad0">
              <div class="col-md-12 col-xs-12 pad0">
                <span class="input-group-addon form-span span-pad col-md-1 col-xs-2" id="setting-addon2">Password   </span>
                <div class="pad0 col-md-9 col-xs-8">
                  <input type="text"  class="form-control inp-radius" id="exampleTextarea" rows="3">
                </div>
              </div>
            </div>

            <div class="input-group martop15 col-md-12 col-xs-12 pad0">
              <div class="col-md-12 col-xs-12 pad0">
                <span class="input-group-addon form-span span-pad col-md-1 col-xs-2" id="setting-addon2">Repeat Password   </span>
                <div class="pad0 col-md-9 col-xs-8">
                  <input type="text"  class="form-control inp-radius" id="exampleTextarea" rows="3">
                </div>
              </div>
            </div>
            
            <div class="input-group martop15 col-md-12 col-xs-12 pad0">
              <div class="col-md-12 col-xs-12 pad0">
                <span class="input-group-addon form-span span-pad col-md-1 col-xs-2" id="setting-addon2">Upload   </span>
                <div class="pad0">
                  <input type="text" class="form-control upload-input" aria-describedby="sizing-addon">
                  <label class="input-group-btn btn btn-success upload-btn" style="font-size: 14px;">Search
                    <input style="display: none"  type="file">
                </div>
              </div>
            </div>
            
            <div class="martop15">
              <button class="btn btn-success form-span col-md-1" type="submit">Register </button>
            </div>
          </form>
        </section>
{% endblock %}