{% extends "base.html" %}
{% block content %}
<!-- Questins -->
        <h1> New questions 
            <a href={% url 'hot-url' %}> <small>Hot questions </small></a> 
        </h1>
        <section class="col-md-9">
	     	{% for question in  questions %}
		        {% include "one_que.html" with add_class="bordered" answers_cnt=question.answers_cnt%}
		    {% endfor %}
		  	{% include "paginat.html" with page_range=page_range objects=questions pag_url=paginator_url%}
        </section>
{% endblock %}
