{% extends "base.html" %}
{% block content %}
<!-- Questins -->
        <h1> New questions 
            <a href={% url 'hot-url' %}> <small>Hot questions </small></a> 
        </h1>
        <section class="col-md-9">
	     	{% for question in  questions %}
		         <div class="martop15 bordered">
	         	 	<div class="col-xs-1 col-sm-1 likes">
	                	<div><a href="#" class="glyphicon glyphicon-triangle-top font32 grey"></a></div>
	                	<div align=center class="font18 grey" >{{question.likes}}</div>
	                <div><a href="#" class="glyphicon glyphicon-triangle-bottom font32 grey"></a></div>  
	              </div>
		            <div class="question-block">
		              <div class="question-info col-md-1 col-xs-2">
                		<img alt="{{question.owner.get_avatar}}" src="{{question.owner.get_avatar}}">
		              </div>
		              <div class="col-md-9 col-xs-9 question-text">
		                <a href={% url 'question-url' question_number=question.id %} class> {{question.title}}</a>
		                <div class="main-info">{{question.text}}</div>
		                <div class="other-info"> 
		                  <span class="answer"> <a href={% url 'question-url' question_number=question.id %}> answer ({{question.answers_cnt}}) </a> </span> 
		                  <span class="tags">Tags:
		                  {% for tag in question.tags.all %}
	                      	<a href={% url 'tag-url' tag_name=tag.title %}> {{tag.title}}</a>
						  {% endfor %}
	                      </span>
		                 </div> 
		              </div>
		            </div>
		          </div>
		    {% endfor %}
		  	{% include "paginat.html" with page_range=page_range objects=questions pag_url=paginator_url%}
        </section>
{% endblock %}