{% extends "base.html" %}
{% block content %}

        <!-- new question -->
        <section class="col-md-9">
        {% if request.user.is_authenticated %}
          <h1>New question </h1>
          <form role="form" data-toggle="validator" method="post">
            {% csrf_token %}
            {%if form.non_field_errors.as_text %}
               <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>{{ form.non_field_errors.as_text }} </strong>
              </div> 
            {%endif%}
            {% for field in form %}
              <div class="form-group {% if field.errors %}  has-error{% endif %} martop15 col-md-12 col-xs-12 pad0">
                <div class="col-md-12 col-xs-12 pad0">
                  <span class="input-group-addon form-span span-pad col-md-1 col-xs-2" id="setting-addon2">{{field.label}}   </span>
                  <div class="pad0 col-md-9 col-xs-8">
                    {{field}}
                    {% if field.errors %} 
                      {% for e in field.errors %}
                        <div class="error">
                          {{ e }}
                        </div>
                      {% endfor %}
                    {% endif %}
                    <div class="help-block with-errors"> </div>
                  </div>
                </div>
              </div>
            {%endfor%}
            <div class="martop15">
              <button class="btn btn-success form-span col-md-1" type="submit">Ask </button>
            </div>
          
          </form>
        {% else %}
          <a style="display: block" href={% url 'login-url' %}> You need to login </a>
        {% endif %}
        </section>
{% endblock %}
              <!-- <input type="text" class="form-control" placeholder="" aria-describedby="sizing-addon"> -->

  <!-- <div class="input-group martop15">
              <span class="input-group-addon form-span" id="sizing-addon2">Input your text   </span>
              <textarea type="text" class="form-control" id="exampleTextarea" rows="3" placeholder="Ask yor question"></textarea>
            </div>

            <div class="input-group martop15">
              <span class="input-group-addon form-span" id="sizing-addon1">Tags   </span>
              <input type="text" class="form-control" placeholder="" aria-describedby="sizing-addon">
            </div> -->
