{% extends "base.html" %}
{% block content %}  

      <h1> {{question.title}} </h1>
        <section class="col-md-9">          
          <div class="martop15">
            <div class="answer-area pad0">
              <div class="col-xs-1 col-sm-1 likes">
                <div><a href="#" class="glyphicon glyphicon-triangle-top font32 grey"></a></div>
                <div align=center class="font18 grey" >{{question.likes}}</div>
                <div><a href="#" class="glyphicon glyphicon-triangle-bottom font32 grey"></a></div>  
              </div>
              <div class="answer-block padtopbot15">
              <div class="answer-info col-xs-2 col-md-1">
                  <img alt="img" src="{{MEDIA_URL}}{{question.owner.get_avatar}}">
              </div>
              <div class="col-md-9 col-xs-9 answer-text">
                <a href={%url 'question-url' question_number=question.id %} class>{{question.title}}</a>
                <div class="main-info-answer">
                  <p>{{question.text}} </p>
                </div>
                <div class="other-info"> 
                  <span class="tags">Tags: 
                    {% for tag in question.tags.all %}
                      <a href={% url 'tag-url' tag_name=tag.title %}> {{tag.title}} </a> 
                    {% endfor %}
                  </div> 
              </div>
            </div>
            </div>
          </div>

          {% for answer in question.answer_set.all%}

            <div class="martop15 bordered" id="a_{{answer.id}}">
              <div class="col-xs-1 col-sm-1 likes">
                <div><a href="#" class="glyphicon glyphicon-triangle-top font32 grey"></a></div>
                <div align=center class="font18 grey" >{{answer.likes}}</div>
                <div><a href="#" class="glyphicon glyphicon-triangle-bottom font32 grey"></a></div>  
              </div>
              <div class="answer-block">
                <div class="answer-info col-md-1 col-xs-2">
                  <img alt="img" src="{{MEDIA_URL}}{{answer.owner.get_avatar}}">
                </div>
                <div class="col-md-9 col-xs-9 answer-text">
                  <div class="main-info-answer"><p>{{answer.text}}</p></div>
                    <div class="checkbo-left">
                      <label><input type="checkbox" value="{{answer.correct}}">Correct!</label>
                    </div>
                </div>
              </div>
            </div>
          {%endfor%}

          <form method="post" role="form" data-toggle="validator" action="{% url 'question-url' question_number=question.id %}">
            {% csrf_token %}
            <div class="form-group martop15 col=md-12 col-xs-12 pad0">
                <div class="col-md-12 col-xs-12 pad0">
                <span class="input-group-addon form-span span-pad col-md-1 col-xs-2" id="sizing-addon2">{{form.text.label}} </span>
                <div class="pad0 col-md-9 col-xs-8">
                  {{form.text}}
                  <div class="help-block with-errors"> </div>
                </div>
            </div>

            <div class="martop15 " style="padding-bottom: 50px;">
                <button class="btn btn-success form-span col-md-1" type="submit">Answer </button>
            </div>
          </form>

        </section>

{% endblock %}
