{% extends "base.html" %}
{% block content %}  

      <h1> {{question.title}} </h1>
        <section class="col-md-9">          
          {% include "one_que.html" with add_class='' answers_cnt=''%}

          {% for answer in answers%}
            {% include "one_ans.html"%}
          {%endfor%}

          {% if request.user.is_authenticated %}
            <form method="post" role="form" data-toggle="validator" action="{% url 'question-url' question_number=question.id %}">
              {% csrf_token %}
              <div class="form-group martop15 col=md-12 col-xs-12 pad0">
                  <div class="col-md-12 col-xs-12 pad0">
                  <span class="input-group-addon form-span span-pad col-md-1 col-xs-2" id="sizing-addon2">{{form.text.label}} </span>
                  <div class="pad0 col-md-9 col-xs-8">
                    {{form.text}}
                    <div class="help-block with-errors"> </div>
                  </div>
              </div>

              <div style="clear: both"></div>
              <div class="martop15 " style="padding-bottom: 50px; margin-bottom: 20px;">
                  <button class="btn btn-success form-span col-md-1" type="submit">Answer </button>
              </div>
            </form>
          {% else %}
          <div style="clear: both"></div>
            <a style="display: block; margin-bottom: 20px;" href={% url 'login-url' %}> If you want to answer just login </a>
          {% endif %}

          <div class="martop15">

            {%include "que_paginat.html" with paginator_url='question-url' answers=answers question=question page_range=page_range%}
          </div>
        </section>

{% endblock %}
