{% extends "base.html" %}
{% block content %}  

      <h1> How to build a moon park </h1>
        <section class="col-md-9">          
          <div class="martop15">
            <div class="answer-area pad0">
              <div class="answer-block padtopbot15">
              <div class="answer-info col-xs-2 col-md-1">
                  <img alt="Img" src="{{question.owner.get_avatar}}">
                <input class="number-input" id="movie" type="number" value="{{question.likes}}"/>
              </div>
              <div class="col-md-10 col-xs-10 answer-text">
                <a href={%url 'question-url' question_number=question.id %} class>{{question.title}}</a>
                <div class="main-info-answer">
                  <p>{{question.text}} </p>
                </div>
                <div class="other-info"> 
                  <span class="tags">Tags: 
                    {% for tag in question.tags.all %}
                      <a href={% url 'tag-url' tag_name=tag.title %}> {{tag.title}} </a> 
                    {% endfor %}
                  </div> 
              </div>
            </div>
            </div>
          </div>

          {% for answer in question.answer_set.all%}

            <div class="martop15">
              <div class="answer-block bordered">
                <div class="answer-info col-md-1 col-xs-2">
                  <img alt="Img" src="{{answer.owner.get_avatar}}">
                  <input class="number-input" id="movie" type="number" value="{{answer.likes}}"/>
                </div>
                <div class="col-md-10 col-xs-10 answer-text">
                  <div class="main-info-answer"><p>{{answer.text}}</p></div>
                    <div class="checkbo-left">
                      <label><input type="checkbox" value="{{answer.correct}}">Correct!</label>
                    </div>
                </div>
              </div>
            </div>
          {%endfor%}

          <div class="input-group martop15">
              <span class="input-group-addon form-span" id="sizing-addon2">Input your answer   </span>
              <textarea type="text" class="form-control" id="exampleTextarea" rows="3" placeholder="Ask yor question"></textarea>
          </div>

          <div class="martop15 " style="padding-bottom: 50px;">
              <button class="btn btn-success form-span col-md-1" type="submit">Ask </button>
          </div>

        </section>

{% endblock %}
